exports.mqttBroker = '';
exports.hydraBaseUrl = '';
exports.hydraId = '';
exports.telegram_token = ''
exports.telegram_devGroupChatId = '';
exports.devicesInfo = [
  {
    groupTitle: '',
    boardId: '',
    boardPin: '',
    hydraCameraId: '',
    telegram_groupChatId: ''
  }
 ]
