const basicInfos = {
  mqttBroker: '',
  telegram_token: '',
  telegram_devGroupChatId: '',
  serverPort: ''
};

const devicesInfos = [
  {
    groupTitle: '',
    textForSensorOutputHigh: '',
    textForSensorOutputLow: '',
    notifyWhenSensorOutputHigh: true,
    notifyWhenSensorOutputLow: true,
    type: '',
    boardId: '',
    boardPin: '',
    boardIp: '',
    snapshots: [
      {
        link: '',
        delayMillisecond:
      }
    ],
    telegram_groupChatId: ''
  }
];

export {basicInfos, devicesInfos};
