const basicInfos = {
  mqttBroker: '',
  telegram_token: '',
  telegram_devGroupChatId: ''
};

const hydraInfos = {
  baseUrl: '',
  id: ''
};

const devicesInfos = [
  {
    groupTitle: '',
    boardId: '',
    boardPin: '',
    hydraCameraId: '',
    cameraIp: '',
    telegram_groupChatId: ''
  }
];

export {basicInfos, hydraInfos, devicesInfos};
