const basicInfos = {
  mqttBroker: '',
  telegram_token: '',
  telegram_devGroupChatId: '',
  serverPort: ''
};

const devicesInfos = [
  {
    groupTitle: '',
    sensorDelayTime: ,
    type: '',
    boardId: '',
    boardPin: '',
    boardIp: '',
    snapshots: [
      {
        dvrInfo: {
          baseUrl: 'http://',
          username: '',
          password: ''
        },
        type: '',
        link: '',
        delayMilliseconds: [],
      }
    ],
    telegram_groupChatId: '',
    textForSensorOutputHigh: '',
    textForSensorOutputLow: '',
    notifyWhenSensorOutputHigh: true,
    notifyWhenSensorOutputLow: true
  }
];

export {basicInfos, devicesInfos};
